    <%= render 'shared/navbar' %>
<section class="wow fadeIn  bg-light-gray top-space no-padding">
  <div class="container-fluid padding-50px-bottom">
    <div class="row equalize sm-equalize-auto">
      <div class="col-md-8 col-sm-12 col-xs-12 no-padding cover-background" style="background:url(<%= cl_image_path @cocktail.photo, crop: :fill %>); height: 700px;"></div>
      <div class="col-md-4 col-sm-12 col-xs-12 no-padding">
        <div class="padding-seventeen-lr padding-twenty-tb md-padding-40px-lr sm-padding-50px-tb xs-padding-30px-all">
          <h3 class="alt-font text-extra-dark-gray font-weight-600 no-margin-bottom"><%= @cocktail.name %></h3>
          <div class="bg-deep-pink separator-line-horrizontal-full display-inline-block margin-25px-tb"></div>
          <p class="width-90 width-100 margin-35px-bottom text-medium line-height-28">Ingredients</p>
          <ul class="list-style-3 text-medium">
            <% if @cocktail.doses.any? %>
              <% @cocktail.doses.each do |dose| %>
                <li><%= dose.description %> of <%= dose.ingredient.name %> <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete do %>
                    <i class="fa fa-trash destroy_dose"></i>
                  <% end %></li>
              <% end %>
              <%= link_to "Add Ingredient", new_cocktail_dose_path(@cocktail) ,class:"btn btn-medium btn-deep-pink margin-40px-top text-link-deep-pink xs-margin-10px-top" %>
            <% else %>
              <%= link_to "Add Ingredient", new_cocktail_dose_path(@cocktail) ,class:"btn btn-medium btn-deep-pink margin-40px-top text-link-deep-pink xs-margin-10px-top" %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <%= link_to 'Back', cocktails_path, class:"btn btn-medium btn-deep-pink margin-40px-top text-link-deep-pink xs-margin-10px-top" %>
  </div>
</section>